<% include('../partials/header') %>
<h1>Login (placeholder)</h1>
<form method="post" action="/auth/login">
  <label>Email: <input name="email" /></label><br />
  <label>Password: <input type="password" name="password" /></label><br />
  <button type="submit">Login</button>
</form>
<% include('../partials/footer') %>
