<% include('../partials/header') %>
<h1>Donate (placeholder)</h1>
<form method="post" action="/donations">
  <label>Name: <input name="name" /></label><br />
  <label>Amount: <input name="amount" type="number" step="0.01" /></label><br />
  <button type="submit">Donate</button>
</form>
<% include('../partials/footer') %>
